$font-family:'Nunito Sans', sans-serif;
$overflow-x: hidden;
$relative: relative;
$w_100: 100%;
$d_flex:flex;
$h_100vh:100vh;
$green:#4BA614;
$blue:#0b76c9;
$black:#000;
$btn_red:#D9534F;
$white:#fff;
$gray:#666;
$sky_blue:#65C3DF;
$yellow:#F2BA0F;
$red:#FF6B6B;
$gama_green:#45B7AF;
$bright_turquoise:#00E6E6;
$cyan:#618685;
$uranian_blue:#B9DEFA;
$dark_red: #BD3D44;
$darl_blue: #0B76C9;
$dark_green: #048E12;
$granite_gray: #5a5a5a;
$icon_bg_color: #B9DEFA;
$radias: 50px;
$weight_500:500;
$font_: 1.75rem;
$font_17:17px;
$font15: 1.5rem;
$font-12: 12px;
$font-15: 15px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-25: 25px;
$font-30: 30px;
$shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
$shadow_1: 0 0 0 10px rgba(189, 61, 68, 0.13);
$radias_10: 10px ;
$border_05: 0.5px solid #999595;
$red_light: #FFFAFA;
$green_light:#FBFFF1;
$pink_light:#FEF8FE;
$grey_light:#F9FEFF;
$gama_green_light:#F7FEFE;
$purpal_light:#F2F3FC;
$red_light_20: #F3F4F6;